/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Jul, 2016, 3:32:58 AM
    Author     : Chow Jie Jin Edmund
*/

/*Layout Configuration*/
.gameover_header_row{
    padding: 0px;
    height: 10%;
}
.gameover_header_row > div{
    height: 100%;
}
.gameover_progress_bar_row{
    height: 3%;
    padding: 0px;
}
.gameover_progress_bar_row > div{
    height: 100%;
}
.gameover_congrats_highest_scorer_row{
    background: #00BF96;
    height: 8.5%;
}
.gameover_congrats_top_players_row{
    background: #00BF96;
    height: 8.5%;
}
.gameover_nickname_highest_scorer_row{
    background: #00BF96;
    padding: 0px;
    height: 15%;
}
.gameover_nickname_highest_scorer_row > div{
    height: 100%;
}
.gameover_stats_highest_scorer_row{
    background: #00BF96;
    padding: 0px;
    height: 15%;
}
.gameover_stats_highest_scorer_row > div{
    height: 100%;
}
.gameover_nickname_top_player_row_1, .gameover_nickname_top_player_row_2, .gameover_nickname_top_player_row_3, .gameover_nickname_top_player_row_4{
    background: #00BF96;
    padding: 0px;
    height: 13.75%;
}
.gameover_stats_top_player_scorer_row_1, .gameover_stats_top_player_scorer_row_2, .gameover_stats_top_player_scorer_row_3, .gameover_stats_top_player_scorer_row_4{
    background: #00BF96;
    padding: 0px;
    height: 13.75%;
}
/*Layout Configuration*/

/*Gameover Header*/
#game_over_header{
    background: #00816A;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 60px;
}
#game_over_h1_header{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 85px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*Gameover Header*/

/*Top Player nickname and points*/
#gameover_congrats_highest_scorer_text{
    text-align: center;
    font-size: 70px;
    margin: 0px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: white;
}
#gameover_congrats_top_players_text{
    text-align: center;
    font-size: 70px;
    margin: 0px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#gameover_nickname_container, #gameover_nickname_container1,#gameover_nickname_container2, #gameover_nickname_container3, #gameover_nickname_container4{
    background: #00816A;
    height: 120px;
    margin: 0px;
}
#h2_game_over_nickname, #h2_gameover_nickname1, #h2_gameover_nickname2, #h2_gameover_nickname3, #h2_gameover_nickname4{
    font-size: 70px;
    margin: 0px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}
#game_over_points{
    margin: 0px;
    font-size: 70px;
    position: relative;
    top: 40%;
    left: 10%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#gameover_points1, #gameover_points2, #gameover_points3, #gameover_points4{
    margin: 0px;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6%;
}
#gameover_rank_icon, #gameover_rank_icon1, #gameover_rank_icon2, #gameover_rank_icon3, #gameover_rank_icon4{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#gameover_player_icon, #gameover_player_icon1, #gameover_player_icon2, #gameover_player_icon3, #gameover_player_icon4{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*Top Player nickname and points*/